html,
body {
  height: 100%;
  margin: 0;
  padding: 0;
  overflow: hidden;
}

/* #region キューリスト */

select#queue {
  width: 100%;
  height: calc(100% - 52px);
}

select#queue option{
  border-left: 8px solid red;
  padding-left: 4px;
  height: 2em;
  display: flex;
  align-items: center;
}

select#queue option.loading{
  border-color: blue !important;
}

/* #endregion */

/* #region コントロールバー */

#controlbar {
  height: 52px;
  width: 100%;
  box-sizing: border-box;
  border: 3px solid silver;
  background: whitesmoke;
  padding-top: 2px;
  padding-left: 6px;
}

#controlbar select.form-control{
  width: auto;
  display: inline;
  padding-top: 0;
  padding-bottom: 0;
}
#controlbar button {
  margin-right: 4px;
}

#controlbar > div{
  display: inline;
}

#controlbar > div.typecontrol{
  display: none;
}

#controlbar #mediatime{
  position: relative;
  top: 4px;
}

#controlbar #version{
  margin:0;
}
/* #endregion */

/* #region ボタンバー */

#buttonbar{
  background: white;
  position: absolute;
  display: none;
  height: calc(2em - 2px);
  padding: 1px;
  margin: 1px;
  opacity: 0.8;
}

#buttonbar button{
  height: 100%;
  padding-top: 2px;
  padding-bottom: 2px;
}

/* #endregion */

/* #region ダイアログ */

dialog p {
  margin: 0;
}

input#url_text {
  margin: 8px 0;
}

/* #endregion */

.droppable, .typecontrol {
  display: block; /* NOOP */
}
