html,
body {
  height: 100%;
  margin: 0;
  padding: 0;
  overflow: hidden;
}

div#container {
  display: flex;
  flex-flow: column;
  height: 100%;
}

/* #region キューリスト */

select#queue {
  width: 100%;
  height: calc(100% - 52px);
}

select#queue option{
  border-left: 8px solid red;
  padding-left: 4px;
  height: 2em;
  display: flex;
  align-items: center;
}

select#queue option.loading{
  border-color: blue !important;
}

select#queue option.playbg{
  border-color: greenyellow !important;
}

/* #endregion */

/* #region コントロールバー */

#controlbar {
  height: 52px;
  width: 100%;
  box-sizing: border-box;
  border: 3px solid silver;
  background: whitesmoke;
  padding-top: 2px;
  padding-left: 6px;
  transition-duration: .2s;
  display: flex;
  flex-flow: column;
  justify-content: space-around;
}

#controlbar div.subcontrolbar#typecontrols {
  display: none;
}

#controlbar div.subcontrolbar {
  transition-duration: .2s;
}

#controlbar div.subcontrolbar.multiline {
  height: 40px;
  transition-duration: .2s;
}

#controlbar > div#maincontrols > div:not(.typecontrol) {
  display: inline;
}

#controlbar select.form-control{
  width: auto;
  display: inline;
  padding-top: 0;
  padding-bottom: 0;
}

#controlbar div.typecontrol{
  display: none;
}

#controlbar p#showcustomcss {
  min-height: 0;
  margin: 0;
  cursor: pointer;
}

#controlbar #version{
  margin:0;
}

#controlbar #video_volume_parent{
  display: inline;
}

#controlbar #typecontrols #mediainfo{
  display: inline-block;
  margin-left: 10px;
}

#controlbar #typecontrols #mediainfo #mediaseek{
  width: 160px;
  height: 6px;
  border-radius: 5px;
  background: linear-gradient(#ccc, #ccc) no-repeat #eee;
  cursor: pointer;
}

/* #endregion */

/* #region ボタンバー */

#buttonbar{
  background: white;
  position: absolute;
  display: none;
  height: calc(2em - 2px);
  padding: 1px;
  margin: 1px;
  opacity: 0.8;
}

#buttonbar button{
  height: 100%;
  padding-top: 2px;
  padding-bottom: 2px;
}

/* #endregion */

/* #region ダイアログ */

dialog p {
  margin: 0;
}

input#url_text {
  margin: 8px 0;
}

dialog textarea{
  height: 7em !important;
}

/* #endregion */

.droppable, .typecontrol {
  display: block; /* NOOP */
}
